
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,300;0,700;1,300&family=Ubuntu:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rectangle1: #33A0c1;
    --button: #187DA0;
    --box-game: #D9D9D9;
}
html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}


header {
  position: sticky;
  width: 100%;
  z-index: 2;
}
.header-section {
    display: flex;
    width: 100%;
    background-color: #fff;
}

.bluerow {
    height: 3rem;
    width: 100%;
    background-color: var(--rectangle1);
    box-shadow: 0px 3px rgba(0,0,0, 0.2);
}
header figure {
    display: flex;
    max-height: 800px;
}

header figure img {
    height: 5rem;
}

header figcaption {
    font-size: 4rem;
    font-weight: 700;
}

figure p {
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;
}

header nav {
    margin-left: auto;
}
header nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0.5rem .5rem;
}


header nav ul li a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
  transition: color 0.3s;
}

header nav ul li a:focus, 
header nav ul li a:hover {
  padding-bottom: 0.5rem;
  color: var(--rectangle1);
}

/* Drop down content  */

.dropbutton {
  background-color: #187DA0;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: calc(100% - 2rem);
  right: 1rem;
  z-index: 2;
  border-radius: 5px;
}

.dropcontent a {
  color: #000;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.dropdown:hover .dropcontent {
  display: block;
}

.button {
  
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    height: 3rem;
    width: 5rem;
    color: #fff;
    filter: drop-shadow(0px 2px 6px rgba(0,0,0,.3));
}


.title {
    font-size: 3rem;
    display: inline;
    position: relative;
}

.options {
  padding:20px;
  text-align: center;
  margin-right: 100px;
}


#gameChoices button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  padding: 10px 20px;
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-weight: 400;
  background-color: #33A0c1;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 100;
}


.showButtons {
  height: 100%;
  display: block;
  position: absolute;
  margin-left:auto;
  margin-right: auto;
  top:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0, 0.3);
  z-index: 999;
}

.anwserSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  top:50%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right: auto;
  z-index: 1000;
  background-color: #f1f1f1;
  align-items: center;
  padding: 1rem;
  width: 40rem;
  border-radius: 3rem;
}

#gameChoices button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
  background-color:white;
  color:#33A0c1
}

body {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#question {
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: #33A0c1;
  width: 75%;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}

#board{
  order:2;
  background-color: #f1f1f1;
  width: 70%;
  height: 75%;
  align-items: center;
  justify-content: center;
  display: inline-block;
  border-radius: 20px;
  
}

#board > #gameChoices > .flex-container > .options > button{
  width: 100%;
}

.main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  
}


.flex-container > div {
  flex:1;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 15px;
  font-size: 30px;
}

#answerStatus{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 50px;
  display: block;
}

.progress-bar-container {
display: flex;
justify-content: center;
}

.progress-bar  {
flex: 1;
display: flex;
left: 4em;
justify-content: center;
align-items: center;
width: 70%;
background-color: #f0f0f0;
border-radius: 100%;
padding: 10px;
}

.step {
flex: 1;
text-align: center;
padding: 10px;
margin: 10px;
background-color: #e0e0e0;
border-radius: 100%;
cursor: pointer;
}

.step.active {
background-color: #33A0c1;
color: white;
}

#next_question{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  padding: 10px 20px;
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-weight: 400;
  background-color: #33A0c1;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  width: auto;
  height: 10%;
}


#next_question button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
  background-color:white;
  color:#33A0c1
}


.popup {
display: none;
position: fixed;
top: 50%;
left: 50%;
width: 30%;
height: 30%;
background-color:#33A0c1;
border-radius: 20px;
border: 5px solid #ffffff;
padding: 20px;
transform: translate(-50%, -50%);
max-width: 80%;
max-height: 80%;
overflow: auto;
}

.popup-content {
font-family: "Roboto Mono", Roboto, sans-serif;
font-weight: 50;
font-size: 20px;
color: rgb(0, 0, 0);
border-radius: 20px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.gamePad {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.popup-content button {
margin-top: 10px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
line-height: 25px;
font-size: 20px;
text-align: center;
padding: 10px 20px;
font-family: "Roboto Mono", Roboto, sans-serif;
font-weight: 100;
background-color: white;
color: #33A0c1;
border-radius: 20px;
cursor: pointer;
top:60%;
left:50%;


}

.popup-content button:hover {
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
background-color:white;
color:#33A0c1
}

#answer_button {
margin-top: 10px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
line-height: 50px;
font-size: 20px;
text-align: center;
padding: 10px 20px;
font-family: "Roboto Mono", Roboto, sans-serif;
font-weight: 200;
background-color:#33A0c1;
color: white;
border-radius: 20px;
cursor: pointer;
width: auto;
height: 25%;

}

#answer_button button:hover {
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
background-color:white;
color:#33A0c1
}

#left-elements{
  display: flex;
  flex-direction: column;
}

#left-elements h3,  
#left-elements .numOfCorrectAnswers, 
#left-elements .score{
  margin-bottom: 1rem;
}
#right-elements{
width: 95%;
float:right;
margin-right: 50px; 
}

.numOfCorrectAnswers, .score{
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-weight: 100;
  background-color: #33A0c1;
  color: rgb(0, 0, 0);
  border-radius: 40px;
}

#exit{
margin-top: 10px;
line-height: 50px;
font-size: 20px;
text-align: center;
padding: 10px 20px;
font-family: "Roboto Mono", Roboto, sans-serif;
font-weight: 100;
background-color:#33A0c1;
color: white;
border-radius: 40px;
cursor: pointer;

}
