<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Messaging</title>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js"></script>
</head>
<body>
    <h1>Real-Time Messaging</h1>
    <div id="messageContainer"></div>

    <form id="messageForm">
        <input type="text" id="messageInput" placeholder="Enter your message">
        <button type="submit">Send</button>
    </form>

    <script>
        // Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBjUM5xHQUjBheTAOG9hWMTre8bn08COe0",
            authDomain: "cloudclass-44ac5.firebaseapp.com",
            databaseURL: "https://cloudclass-44ac5-default-rtdb.europe-west1.firebasedatabase.app",
            projectId: "cloudclass-44ac5",
            storageBucket: "cloudclass-44ac5.appspot.com",
            messagingSenderId: "882138223340",
            appId: "1:882138223340:web:9e64b2c1205fd675c04bc9"

        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        // Get a reference to the Firebase Realtime Database
        var messagesRef = firebase.database().ref('messages');

        // Listen for new messages
        messagesRef.on('child_added', function(snapshot) {
            var message = snapshot.val();
            displayMessage(message);
        });

        // Display the received message
        function displayMessage(message) {
            var messageContainer = document.getElementById('messageContainer');
            var messageElement = document.createElement('p');
            messageElement.innerText = message;
            messageContainer.appendChild(messageElement);
        }

        // Send a message
        document.getElementById('messageForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value.trim();

            // Push the message to the Firebase Realtime Database
            messagesRef.push().set(message);

            messageInput.value = '';
        });
    </script>
</body>
</html>
